// COlORS
$theme-colors: (
  "primary": #22a963,
  "danger": #ff4136
);
$color-primary: #22a963;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$nav-tabs-link-active-bg: #cccccc;
$nav-tabs-link-hover-bg: #dddddd;

// fonts
$default-font-size: 1.6rem;
$title-font: 5rem;
$sub-title-font: 2rem;
$btn-font-size: 2rem;

// card variables

$card-border-radius: 5px;

//buttons

$input-btn-padding-x: 2rem;
$btn-border-radius: 0.8rem;
$btn-font-size: 1.8rem;

// menu border

$menu-border-color: #d2d2d2;

//tabs
$nav-tabs-border-radius: 0;

//modal close

$close-font-size: 3rem;

// box shadow

$box-shadow: 0.7rem 0.9rem 10rem rgba($color-black, 0.5);
