@mixin fotoOverlay {
  %common {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
  }

  // it will be motive__img-1 or specialties__img-1
  @for $i from 1 through 4 {
    &__img-#{$i} {
      @extend %common;
      > img {
        width: 100%;
        transition: all 0.3s;
      }
    }
    &__img-#{$i}:hover > &__hovertext {
      visibility: visible;
      opacity: 1;
    }

    &__img-#{$i}:hover > img {
      filter: brightness(50%);
    }
  }
}

//mixins for media queries

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (max-width: 36em) {
      @content;
    } //576px
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == large {
    @media only screen and (max-width: 62em) {
      @content;
    } //992px
  }
  @if $breakpoint == extra-large {
    @media only screen and (min-width: 74.93em) {
      @content;
    } //1200
  }
}

// RESOPOSIVE HEIGHT to learn and in case
@mixin respondHeight($breakpoint) {
  @if $breakpoint == extra-small {
    @media only screen and (max-height: 30em) {
      @content;
    } //480px
  }
  @if $breakpoint == small {
    @media only screen and (min-height: 30.75em) {
      @content;
    } //576px
  }
  @if $breakpoint == medium {
    @media only screen and (min-width: 48em) {
      @content;
    } //768px
  }
  @if $breakpoint == large {
    @media only screen and (min-width: 62em) {
      @content;
    } //992px
  }
  @if $breakpoint == extra-large {
    @media only screen and (min-width: 74.93em) {
      @content;
    } //1200
  }
}
