.header {
  height: 100vh;
  position: relative;
  background-image: url("../img/hero-2.jpg");
  background-position: fixed;
  background-size: cover;
  background-attachment: fixed;

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: $color-white;

    &__titile {
      text-transform: uppercase;
      &-sub {
        font-size: 2.5rem;
      }
      &-main {
        font-size: 6rem;
      }
    }

    &__paragraph {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
