.navigation {
  transition: 1s ease;
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.scrolled {
    background: $color-grey-dark-3;
  }

  .navbar-toggler-icon {
    font-size: 1.8rem;
  }

  .nav {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;

    &-link {
      color: $color-white;
      &:link {
        color: $color-white;
      }

      &:visited {
        color: $color-white;
      }
      &:hover {
        color: $color-white;
      }
    }
  }
  &__logo {
    color: $color-white;
    text-transform: uppercase;
    transform: translateY(5px);
  }
}
