.navigation {
  .nav {
    font-size: 1.5rem;
    &-link {
      color: $color-white;
      &:link {
        color: $color-white;
      }

      &:visited {
        color: $color-white;
      }
      &:hover {
        color: $color-white;
      }
    }
  }
  &__logo {
    color: $color-white;
    text-transform: uppercase;
  }
}
