.title-comp {
  &__text {
    &-h2 {
      font-size: $title-font;
    }

    &-h3 {
      font-size: $sub-title-font;
    }

    &-paragraph {
      font-size: $default-font-size;
      color: $color-grey-dark;
    }
  }

  @include respond(small) {
    &__text {
      &-h2 {
        font-size: $title-font-small;
      }

      &-h3 {
        font-size: $sub-title-font-small;
      }

      &-paragraph {
        font-size: $title-font-paragraph-small;
        color: $color-grey-dark;
      }
    }
  }
}
