.title-comp {
  &__text {
    margin-bottom: 5rem;

    &-h2 {
      font-size: $title-font;
    }

    &-h3 {
      font-size: $sub-title-font;
    }

    &-paragraph {
      font-size: $default-font-size;
      color: $color-grey-dark;
      margin-bottom: 5rem;
    }
  }
}
