html {
  // This defines what 1rem is
  font-size: 62.5%;

  @include respond(extra-small) {
    // width < 576px?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  // respnsive sizes
  @include respond(small) {
    // width > 576?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(medium) {
    // width > 768?
    font-size: 62.5%; //1 rem = 10px, 10/16 = 62.5%
  }

  @include respond(extra-large) {
    font-size: 68.75%; //1rem = 11, 11/16 68.75%
  }
}
