.menu {
  border: 0.5rem solid $menu-border-color;
  padding: 2rem;
  box-shadow: 0.7rem 0.9rem 3rem rgba($color-black, 0.5);

  &__header {
    height: 30rem;
    margin-bottom: 5rem;
    background-image: url("../img/vegetales.jpeg");
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
  }

  &__body {
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 5rem;
    padding-top: 6rem;
  }
}

.dish {
  cursor: pointer;
  padding: 1.5rem;

  &__title,
  &__price {
    font-size: 1.8rem;
  }
  &__description {
    font-size: 1.5rem;
    color: $color-grey-dark-2;
  }
}
.tab-menu {
  font-size: 2.5rem;
  background-color: $color-grey-light-2;
  color: $color-black;
  transition: all 0.3s;
  border: none;

  &:hover {
    background-color: $nav-tabs-link-hover-bg;
    color: $color-black;
  }
}

@import "../components/modal-menu";
