.reservations {
  position: relative;

  &__title {
    height: 30vh;
  }

  &__form {
    border: 2px solid black;
    box-shadow: $box-shadow;
    background-color: $color-grey-light-2;
    padding: 4rem;
  }
}
